.profile-section {
  margin: 30px;
}

h2{
  color: #527bbd;
  text-align: left;
  margin-bottom: 10px;
}
h3{
  font-size: 1rem;

}
h5{
  color: #527bbd;
  margin: auto;
  text-align: left;
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: normal;
}
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: flex;
  margin-bottom: 5px;
}

.form-group input, .form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-group input, .form-group select{
  width: 600px;
  flex: 1;
}
.container{
  display: flex;
  flex-direction: row;
   gap: 3%;
  width: 100%;
}
.form{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 30px;
}
section{
  display: flex;
  justify-content: center;
  align-items: center;
}